<div class="control-group">
  <label class="control-label" for="culture">Language</label>
  <div class="controls">
    <select id="culture">
      {{#each cultures}}
        <option value="{{id}}" {{#is_selected id ../culture}}selected="selected"{{/is_selected}}>{{language}} ({{country}})</option>
      {{/each}}
    </select>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="keywords">Keywords</label>
  <div class="controls">
    <textarea id="keywords" placeholder="Enter one keyword per line">{{keywords}}</textarea>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <label class="control-label checkbox">
      <input type="checkbox" id="is_highlighted" {{#if is_highlighted}}checked="checked"{{/if}}> Highlight that language?
    </label>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <button type="submit" id="save" class="btn btn-primary">Save</button>
    <button id="cancel" class="btn">Cancel</button>
  </div>
</div>
