<div class="control-group">
  <label class="control-label" for="name">Language</label>
  <div class="controls">
    <input type="text" id="name" value="{{name}}" placeholder="Spoken language">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="flag">Flag</label>
  <div class="controls">
    <input type="flag" id="flag">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="keywords">Keywords</label>
  <div class="controls">
    <textarea id="keywords" placeholder="Enter one keyword per line">{{keywords}}</textarea>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <label class="control-label checkbox">
      <input type="checkbox" id="is_highlighted" {{#if is_highlighted}}checked="checked"{{/if}}> Highlight that language?
    </label>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <button type="submit" id="save" class="btn btn-primary">Save</button>
    <button id="cancel" class="btn">Cancel</button>
  </div>
</div>
