<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/">{{name}}</a>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#experiences">Experience</a></li>
          <li><a href="#educations">Education</a></li>
          <li><a href="#languages">Languages</a></li>
          <li><a href="#hobbies">Hobbies</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>

        <div class="pull-right">
          <p class="navbar-text pull-left">
            {{phone}} - <a href="mailto:{{email}}">{{email}}</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<header class="affix-top" data-spy="affix">
  <div class="container">
    <h1>{{title}}</h1>
    <h3>{{subtitle}}</h3>
  </div>
</header>
