<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/">{{name}}</a>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#experiences" data-bypass>Experience</a></li>
          <li><a href="#educations" data-bypass>Education</a></li>
          <li><a href="#languages" data-bypass>Languages</a></li>
          <li><a href="#hobbies" data-bypass>Hobbies</a></li>
          <li><a href="#contact" data-bypass>Contact</a></li>
        </ul>

        <div class="pull-right">
          <p class="navbar-text">
            {{phone}} - <a href="mailto:{{email}}">{{email}}</a>
          </p>
        </div>

        <ul class="nav pull-right">
          <li><a href="/downloads/resume - benoit jouhaud.pdf" data-bypass>download <img src="/app/img/icon-pdf.png" class="icon-like"></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<header class="affix-top" data-spy="affix">
  <div class="container">
    <h1>{{title}}</h1>
    <h3>{{subtitle}}</h3>
  </div>
</header>
