<h3>{{{position}}} <small class="pull-right date">{{started_on}} to {{ended_on}}</small></h3>
<h4>
  {{#if company_website}}<a href="{{company_website}}">{{{company}}}</a>{{else}}{{{company}}}{{/if}}
  {{#if has_separator}}-{{/if}}
  {{#if project_website}}<a href="{{project_website}}">{{{project}}}</a>{{else}}{{{project}}}{{/if}}
</h4>

{{#each highlights}}
  <p class="label label-info">{{{label}}}</p>
{{/each}}

<p>{{{description}}}</p>

<div class="row-fluid details">
  {{#is_not_empty technologies}}
    <div class="span2">
      <strong>Technologies</strong>
      <ul class="unstyled dl-like">
        {{#each technologies}}
          <li>{{{label}}}</li>
        {{/each}}
      </ul>
    </div>
  {{/is_not_empty}}

  {{#is_not_empty frameworks}}
    <div class="span2">
      <strong>Frameworks - Libraries</strong>
      <ul class="unstyled dl-like">
        {{#each frameworks}}
          <li>{{{label}}}</li>
        {{/each}}
      </ul>
    </div>
  {{/is_not_empty}}

  {{#is_not_empty softwares}}
    <div class="span2">
      <strong>Softwares</strong>
      <ul class="unstyled dl-like">
        {{#each softwares}}
          <li>{{{label}}}</li>
        {{/each}}
      </ul>
    </div>
  {{/is_not_empty}}

  {{#is_not_empty tools}}
    <div class="span2">
      <strong>Tools</strong>
      <ul class="unstyled dl-like">
        {{#each tools}}
          <li>{{{label}}}</li>
        {{/each}}
      </ul>
    </div>
  {{/is_not_empty}}

  {{#is_not_empty keywords}}
    <div class="span2">
      <strong>Keywords</strong>
      <ul class="unstyled dl-like">
        {{#each keywords}}
          <li><i class="icon-star-empty"></i> {{{label}}}</li>
        {{/each}}
      </ul>
    </div>
  {{/is_not_empty}}
</div>

<hr>

<button id="edit" class="btn btn-info">Edit</button>
<button id="delete" class="btn btn-danger">Delete</button>

<div id="form-container"></div>
