<div class="control-group">
  <label class="control-label" for="title">Title</label>
  <div class="controls">
    <input type="text" id="title" value="{{title}}" placeholder="Education level, Degree...">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="started_on">Started on</label>
  <div class="controls">
    <input type="text" id="started_on" class="datepicker" value="{{started_on}}" placeholder="yyyy/mm" data-date-format="yyyy-mm" data-date-viewmode="months" data-date-minviewmode="months">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="ended_on">Ended on</label>
  <div class="controls">
    <input type="text" id="ended_on" class="datepicker" value="{{ended_on}}" placeholder="yyyy/mm" data-date-format="yyyy-mm" data-date-viewmode="months" data-date-minviewmode="months">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="school">School</label>
  <div class="controls">
    <input type="text" id="school" value="{{school}}" placeholder="Name of the school, university...">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="website">Website</label>
  <div class="controls">
    <input type="text" id="website" value="{{website}}" placeholder="Website of the school">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="location">Location</label>
  <div class="controls">
    <input type="text" id="location" value="{{location}}" placeholder="Place of the school">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="highlights">Highlights</label>
  <div class="controls">
    <textarea id="highlights" placeholder="Enter one highlight per line">{{highlights}}</textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="description">Description</label>
  <div class="controls">
    <textarea id="description" placeholder="Short description for the education">{{description}}</textarea>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <button type="submit" id="save" class="btn btn-primary">Save</button>
    <button id="cancel" class="btn">Cancel</button>
  </div>
</div>
