<div class="control-group">
  <label class="control-label" for="position">Position</label>
  <div class="controls">
    <input type="text" id="position" value="{{position}}" placeholder="Position occupied">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="started_on">Started on</label>
  <div class="controls">
    <input type="text" id="started_on" class="datepicker" value="{{started_on}}" placeholder="yyyy/mm" data-date-format="yyyy-mm" data-date-viewmode="months" data-date-minviewmode="months">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="ended_on">Ended on</label>
  <div class="controls">
    <input type="text" id="ended_on" class="datepicker" value="{{ended_on}}" placeholder="yyyy/mm" data-date-format="yyyy-mm" data-date-viewmode="months" data-date-minviewmode="months">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="company">Company</label>
  <div class="controls">
    <input type="text" id="company" value="{{company}}" placeholder="Name of the company">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="company_website">Company website</label>
  <div class="controls">
    <input type="text" id="company_website" value="{{company_website}}" placeholder="Website of the company">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="project">Project</label>
  <div class="controls">
    <input type="text" id="project" value="{{project}}" placeholder="Name of the website/project">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="project_website">Project website</label>
  <div class="controls">
    <input type="text" id="project_website" value="{{project_website}}" placeholder="Website of the project">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="highlights">Highlights</label>
  <div class="controls">
    <textarea id="highlights" placeholder="Enter one highlight per line">{{highlights}}</textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="description">Description</label>
  <div class="controls">
    <textarea id="description" placeholder="Short description for the education">{{description}}</textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="technologies">Technologies</label>
  <div class="controls">
    <textarea id="technologies" placeholder="Enter one technology per line">{{technologies}}</textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="frameworks">Frameworks - Libraries</label>
  <div class="controls">
    <textarea id="frameworks" placeholder="Enter one framework per line">{{frameworks}}</textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="softwares">Softwares</label>
  <div class="controls">
    <textarea id="softwares" placeholder="Enter one software per line">{{softwares}}</textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="tools">Tools</label>
  <div class="controls">
    <textarea id="tools" placeholder="Enter one tool per line">{{tools}}</textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="keywords">Keywords</label>
  <div class="controls">
    <textarea id="keywords" placeholder="Enter one keyword per line">{{keywords}}</textarea>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <button type="submit" id="save" class="btn btn-primary">Save</button>
    <button id="cancel" class="btn">Cancel</button>
  </div>
</div>
